.label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: italic;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  display: block;
  padding: 0;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
}
