.listItem {
  margin-bottom: 10px;
}

.button {
  margin-left: 10px;
}

.button:hover {
  background-color: cornflowerblue;
}

.name {
  margin-right: 20px;
  justify-content: flex-start;
  text-align: left;
}

span.number {
  margin-left: auto;
  justify-content: flex-end;
  text-align: right;
}
